.header {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.nav .container {
    display: flex; /* Use flexbox for alignment */
    justify-content: space-between; /* Space between logo and nav menu */
    align-items: center;
    padding: 0 20px; /* Add padding to the container for spacing */
}

.nav__logo {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.nav__menu {
    display:inline-flex; /* Flexbox for navigation items */
    align-items: center; /* Align items vertically */
}

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none; /* Remove list-style dots */
    margin: 0; /* Reset default margin */
    padding: 0; /* Reset default padding */
    position: relative;
    
}

.nav__link {
    color: white;
    text-decoration: none; /* Remove underline */
    font-size: 1rem;
}

.nav__button {
    background-color: #FD6F00;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    transition: background-color 0.3s ease;
}

.nav__button:hover {
    background-color: #E65F00;
}

.nav__toggle {
    display: none;
    cursor: pointer;
}

.uil-times, .uil-apps {
    color: white;
    font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - 40px); /* Adjust width to leave space on the right */
        height: 100%;
        background-color: #333;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        display: none; /* Hide menu by default */
        padding: 20px; /* Add padding inside the menu */
    }

    .show-menu {
        display: flex; /* Show menu when open */
        transform: translateX(0);
    }

    .nav__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
    }

    .nav__toggle {
        display: block;
    }
}
